:root {
    --textosgrandes: 4vw;
    --textospequeños: 3vw;
    --sombragrande: 2px 2px 1px black, 0 0 40px red, 0 0 40px red;
    --sombrapequeña: 2px 2px 1px black, 0 0 20px red, 0 0 20px red;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bangers";
    background-image: linear-gradient(0deg,
            rgba(255, 253, 253, 0.6),
            rgba(255, 255, 255, 0.6)), url(Imagenes/fonfopartitura.jpg);
}


#cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("Imagenes/concierto3.jpg");
    background-size: cover;
    width: auto;
    height: 60vw;
}

#cabecera1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("Imagenes/exposicion.jpg");
    background-size: cover;
    width: auto;
    height: 60vw;
}

#nombre {
    font-size: var(--textosgrandes);
    color: white;
    text-shadow: 4px 4px 1px black, 0 0 30px red, 0 0 30px red;
    padding-left:5vw;
    padding-right:5vw;
    animation-duration:1s;
    animation-name:culebra;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes culebra {
    0% {
        padding-left: 5vw;
        padding-right:5vw;
    }
    50% {
        padding-left: 6vw;
        padding-right: 6vw;
        text-shadow: 15px 15px 1px black, 0 0 90px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0);
    }
    100% {
        padding-left: 5vw;
        padding-right:5vw;
    }
}

#menugrupo {
    display: flex;
    flex-direction: column;
    font-size: var(--textospequeños);
    padding-top: 70px;
    padding-right: 30px;
    padding-left:30px;
    text-align: right;
}

#menutienda {
    display: flex;
    flex-direction: column;
    font-size: var(--textospequeños);
    padding-top: 70px;
    padding-right: 30px;
    padding-left:30px;
    text-align: left;
}

a {
    padding: 5px;
    color: white;
    text-shadow: var(--sombrapequeña);
    text-decoration: none;
}

h2 {
    font-size: var(--textosgrandes);
    color: white;
    text-shadow: var(--sombragrande);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h6 {
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-shadow: var(--sombrapequeña);
}

@media screen and (max-width:580px) {
    #nombre {
        font-size: var(--textosgrandes);
        color: rgb(255, 0, 0);
        text-shadow: 4px 4px 1px black, 0 0 30px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
        padding-left:5vw;
        padding-right:5vw;
        animation-duration:1s;
        animation-name:culebra;
        animation-direction:alternate;
        animation-iteration-count: infinite;
    }
    
    @keyframes culebra {
        0% {
            padding-left: 5vw;
            padding-right:5vw;
        }
        50% {
            padding-left: 6vw;
            padding-right: 6vw;
            text-shadow: 15px 15px 1px black, 0 0 90px rgb(255, 255, 255), 0 0 90px rgb(255, 255, 255);
        }
        100% {
            padding-left: 5vw;
            padding-right:5vw;
        }
    }

    a {
        color:  rgb(253, 0, 0);
        text-shadow: 2px 2px 1px black, 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);    
    }

    h2 {
        color:  rgb(253, 0, 0);
        text-shadow: 2px 2px 1px black, 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    }

    h6 {
        color:  rgb(253, 0, 0);
        text-shadow: 2px 2px 1px black, 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    }
}

p::first-letter {
    color:red;
    font-size:3vw;
    text-shadow: -2px 2px 1px black;
}

p:hover {
    color:red;
}

p:active {
    color:black;
}

p::selection {
    background-color:red;
}

.contenedor2 {
    background-size: cover;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(Imagenes/discografia.jpg);
    width: auto;
    height: 60vw;

}

.contenedorguitarras {
    background-size: cover;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(Imagenes/guitarras.jpg);
    width: auto;
    height: 60vw;
}

#bateriascontenedor {
    background-size: cover;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(Imagenes/bateria.jpg);
    width: auto;
    height: 60vw;
}

#cuerpoguitarras {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#imagenguitarras {
    width:50%;
    height:50%;
    padding:30px;   
}

#pguitarras {
    width:50%;
    font-size: 2vw;
    color:rgb(230, 230, 230);
    text-align: left;
    padding-right: 30px;
}

#bateriascontenedor {
    text-align: right;
    display:flex;
    flex-direction: column;

}

#huecobaterias {
    height: 100%;
}

#pbaterias {
    text-align: left;
    padding: 30px;
    color:rgb(230, 230, 230);
}

#bajoscontenedor {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pbajos {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
}

#bajomarron {
    width:25vw;
    transform:scalex(-1);
}

#bajomarronreflex {
    transform:scale(-1,-1) skewX(-30deg) translate(38%,101%);
    transform-origin: bottom;
    filter:blur(2px) grayscale(100%);
}

#contenedorbajomarron {
    display: flex;
    flex-direction:column;
    margin-right: 20px;
    padding-bottom: 50px;
}

.contenedor3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 140px;
    margin-top: 120px;
}

.contenedor4 {
    background-size: cover;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(Imagenes/concierto2.jpg);
    width: auto;
    height: 60vw;

}

.contenedor5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.contenedor6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.contenedor7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contenedor8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#cuerpo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imagenInicio {
    width: fit-content;
    height: fit-content;
    padding: 40px;
}

img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.pinicio {
    padding-left: 30px;
    padding-right: 30px;
}

#imagentienda {
    padding:20px;
    width:40%;
    float:right;
}

#guitarrastienda img:hover {
    transform: scalex(-1);
}

#iniciotienda img:hover {
    transform: scalex(-1);
}

#discografia img:hover {
    transform: scalex(-1);
}

#inicio img:hover {
    transform: scalex(-1);
}

#guitarra:active {
    transform: scalex(-1);
}

#bateria:active {
    transform: scale(0.3);

}

#bajo:active {
    transform: scaley(-1);

}

#componentes img {
    border-radius: 100px;
}

.retrato {
    margin-left: 5px;
    margin-right: 5px;
}

#componentes p {
    text-align: center;
    font-size: var(--textospequeños);
}

#cuerpo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listados {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imagenDiscografia {
    width: fit-content;
    height: fit-content;
}

li {
    margin-bottom: 5px;
    color: white;
    font-size: var(--textospequeños);
}

.parrafo1 {
    width: 40vw;
    font-size: 2vw;
    margin-left: 2em;
}

p {
    font-size:2vw;
}

.p1 {
    font-size: 1vw;
}

#imagenDiscografia {
    background-image: url("Imagenes/discografia.jpg");
    background-size: cover;
    width: 35vw;
    height: 35vw;
}

#discografia {
    text-align: right;
}

#guitarrastienda {
    text-align: right;
}

/*---------------------------------------------------- PORTAFOTO DINAMICA ------------------------------------------*/

#portaFoto {
    width: 50vw;
    height: 50vh;
    background-color: lightpink;
    display: block;
}

#laFoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (orientation:landscape) {
    #portaFoto {
        max-width: 1920px;
        max-height: 1280px;
    }
}

@media screen and (orientation:portrait) {
    #portaFoto {
        max-width: 800px;
        max-height: 1200px;
    }
}