body {
	margin: 0;
	background-color: rgb(255,255,175);
	text-align: center;
	counter-reset: tipo verso;
}

p {
	background-color: rgb(255,255,175);
	color: blue;
	padding: 0;
	margin: 10px;
}	

h2 {
	background-color: gray;
	color: black;
	padding: 0;
	margin: 30px;
}

h2::before {
	counter-increment: tipo;
	content: " " counter(tipo) ": ";
}

p::before {
	counter-increment: verso;
	content: "Verso " counter(verso) ": ";
}

span {
	color: blue;
	background-color: yellow;
	font-weight: bold;
}
